@charset "utf-8";


/* transition */
#nav *,

#footer .btn_blhome, #footer .btn_blhome b {transition: all 1s cubic-bezier(.32,.18,.14,.98);}
.bl_intro .btn_into *,
.class .sec_01 .video .bg,
.class .sec_01 .video .btn_ytplay  {transition: all .7s cubic-bezier(.32,.18,.14,.98);}

.Explorer .contents_sld .slides li {transition: all .5s cubic-bezier(.32,.18,.14,.98);}
.csld_holder .contents_sld {transition: all 1s cubic-bezier(.32,.18,.14,.98);}
/* hover */
u, i,
.char span,
:after, :before,
.rxr_contents .btn_box a span,
.world .quick_link li *,
.bl_intro .btn_into .bg,
.sld_controls li *,
.pop_people .btn_close,
#nav *,
.class .race a span,
.sec_box .t,
.intro_page .btn_c span {transition: 0.5s all  cubic-bezier(.32,.18,.14,.98);}
.intro_page .btn_c {transition: 0.5s all 3s cubic-bezier(.32,.18,.14,.98);}
.intro_page .btn_c:nth-child(2) {transition-delay: 3.25s;}

.world .quick_link:after,
.flex-control-nav li *,
.flex-control-nav li a:after,
.flex-control-nav li a:before,
.history .sec_box p,
.leaflet-marker-icon * {transition: 0.25s all cubic-bezier(0.75, 0, 0.25, 1);}
.history .contents_sld .slides .bg {transition: 1s all cubic-bezier(0.09, 0.22, 0.4, 0.99);} 


.world .quick_link,
.class .char_box .bg,
.section_select .bg,
.class .char_box span,
.world .quick_link * {transition: 2s all cubic-bezier(0.75, 0, 0.25, 1);}
#load_layer.ing .w {transition:  1.5s all cubic-bezier(.32,.18,.14,.98);}
#load_layer.done u {transition: 2s all .25s cubic-bezier(0.75, 0, 0.25, 1);}

.pop_people {transition: 1.5s all .5s cubic-bezier(0.75, 0, 0.25, 1);}
.pop_total {transition: 1.5s all cubic-bezier(0.75, 0, 0.25, 1);}

.swiper-slide:before {transition: none;}

.swiper-slide-active + .swiper-slide:before,
.swiper-slide-active + .swiper-slide-visible + .swiper-slide:before {right: 100%;}
.history .swiper-slide-active:before,
.history .swiper-slide-visible:before {right: 0; transition: 2.5s all  cubic-bezier(0.75, 0, 0.25, 1);}

.swiper-slide-active + .swiper-slide .chapter:after,
.swiper-slide-active + .swiper-slide-visible + .chapter:after {top: 50%; bottom: 50%;}
.history .swiper-slide-active .chapter:after,
.history .swiper-slide-visible .chapter:after {top: 0; bottom: 0; transition: 1s all 1s cubic-bezier(0.75, 0, 0.25, 1);}

.swiper-slide-active + .swiper-slide .chapter h3 span,
.swiper-slide-active + .swiper-slide-visible + .swiper-slide .chapter h3 span {opacity: 0; transform: translate(-20px,0); }
.history .swiper-slide-active .chapter h3 span,
.history .swiper-slide-visible .chapter h3 span {opacity: 1; transform: translate(0,0); transition: .5s all .25s cubic-bezier(0.75, 0, 0.25, 1);}

.swiper-slide-active + .swiper-slide .chapter h3 em,
.swiper-slide-active + .swiper-slide-visible + .swiper-slide .chapter h3 em {opacity: 0; transform: translate(20px,0);}
.history .swiper-slide-active .chapter h3 em,
.history .swiper-slide-visible .chapter h3 em {opacity: 1; transform: translate(0,0); transition: .5s all .5s cubic-bezier(0.75, 0, 0.25, 1);}

.swiper-slide:nth-child(2) .chapter h3 span{transition: .5s all .25s cubic-bezier(0.75, 0, 0.25, 1);}
.swiper-slide:nth-child(2) .chapter h3 em {transition: .5s all .5s cubic-bezier(0.75, 0, 0.25, 1);}

.history ol li>p{}
.swiper-slide-active + .swiper-slide ol li>p,
.swiper-slide-active + .swiper-slide-visible + .swiper-slide ol li>p {opacity: 0; transform: translate(-20px,0); }
.history .swiper-slide-active ol li>p,
.history .swiper-slide-visible ol li>p {opacity: 1; transform: translate(0,0); transition: .5s all .2s cubic-bezier(0.75, 0, 0.25, 1);}

.swiper-slide-active + .swiper-slide ol li>p:after,
.swiper-slide-active + .swiper-slide-visible + .swiper-slide ol li>p:after {transform: scale(0);}
.history .swiper-slide-active ol li>p:after,
.history .swiper-slide-visible ol li>p:after {transform: scale(1); transition: .25s all .6s cubic-bezier(0.75, 0, 0.25, 1);}

.history ol .sub:before {}


.swiper-slide-active + .swiper-slide ol .sub:after,
.swiper-slide-active + .swiper-slide-visible + .swiper-slide ol .sub:after {transform: scale(0);}
.history .swiper-slide-active ol .sub:after,
.history .swiper-slide-visible ol .sub:after {transform: scale(1); transition: .5s all 1s cubic-bezier(0.75, 0, 0.25, 1);}

.swiper-slide-active + .swiper-slide ol .sub:before,
.swiper-slide-active + .swiper-slide-visible + .swiper-slide ol .sub:before {height: 0;}
.history .swiper-slide-active ol .sub:before,
.history .swiper-slide-visible ol .sub:before {height: 100%; transition: 2s all 1.4s cubic-bezier(0.75, 0, 0.25, 1);}

.swiper-slide-active + .swiper-slide ol .r em,
.swiper-slide-active + .swiper-slide-visible + .swiper-slide ol .r em {opacity: 0; transform: translate(0, -20px);}
.history .swiper-slide-active ol .r em,
.history .swiper-slide-visible ol .r em {opacity: 1; transform: translate(0,0); transition: .5s all cubic-bezier(.32,.18,.14,.98);}

.history .swiper-slide-visible ol .r:nth-child(1) em {transition-delay: 1.5s;}
.history .swiper-slide-visible ol .r:nth-child(2) em {transition-delay: 2s;}
.history .swiper-slide-visible ol .r:nth-child(3) em {transition-delay: 2.5s;}

.swiper-slide-active + .swiper-slide ol .r p,
.swiper-slide-active + .swiper-slide-visible + .swiper-slide ol .r p {opacity: 0; transform: translate(-20px, 0);}
.history .swiper-slide-active ol .r p,
.history .swiper-slide-visible ol .r p {opacity: 1; transform: translate(-20px, 0); transition: .5s all cubic-bezier(.32,.18,.14,.98);}
.history .swiper-slide-visible ol .r:nth-child(1) p {transition-delay: 1.75s;}
.history .swiper-slide-visible ol .r:nth-child(2) p {transition-delay: 2.25s;}
.history .swiper-slide-visible ol .r:nth-child(3) p {transition-delay: 2.75s;}




/*.swiper-slide-active + .swiper-slide .chapter h3 em,
.swiper-slide-active + .swiper-slide-visible + .swiper-slide .chapter h3 em {opacity: 0; transform: translate(20px,0);}
.history .swiper-slide-active .chapter h3 em,
.history .swiper-slide-visible .chapter h3 em {opacity: 1; transform: translate(0,0); transition: .5s all 1s cubic-bezier(0.75, 0, 0.25, 1);}

*/

/* animation: example 3s linear 0s infinite alternate;

animation-name: none
animation-duration: 0s
animation-timing-function: ease
animation-delay: 0s
animation-iteration-count: 1
animation-direction: normal
animation-fill-mode: none
animation-play-state: running

*/

@keyframes key-footlogo {
  50%{
    p {opacity: 1;}
  }

  100% {
    opacity: 0;
  }
}
{animation: bg-grain .5s 0s steps(1) infinite;
animation: bg-scale 80s infinite linear}
@keyframes bg-grain {
    0%,100% {
        transform: translate(0,0,0)
    }

    10% {
        transform: translate(-1%,-1%)
    }

    20% {
        transform: translate(1%,1%)
    }

    30% {
        transform: translate(-2%,-2%)
    }

    40% {
        transform: translate(3%,3%)
    }

    50% {
        transform: translate(-3%,-3%)
    }

    60% {
        transform: translate(4%,4%)
    }

    70% {
        transform: translate(-4%,-4%)
    }

    80% {
        transform: translate(2%,2%)
    }

    90% {
        transform: translate(-2%,-2%)
    }
}

@keyframes bg-scale {
    0% {
        transform: scale(1)
    }

    50% {
        transform: scale(1.2)
    }

    100% {
        transform: scale(1)
    }
}

@keyframes shake {
  from, to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }

  20%, 40%, 60%, 80% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
}