@charset "euc-kr";

/*
shortcut Name
NanumBarunGothic - nbg
NanumBarunGothicBold - nbgb
NanumBareunGothicLight - nbgl
*/

@font-face {
  font-family: 'NanumBarunGothic';
  src: url(NanumBarunGothic.eot);
  src: url(NanumBarunGothic.eot?#iefix) format('embedded-opentype'),
       url(NanumBarunGothic.woff) format('woff'),
       url(NanumBarunGothic.ttf) format('truetype');
}
@font-face {
  font-family: 'NanumBarunGothicBold';
  src: url(NanumBarunGothicBold.eot);
  src: url(NanumBarunGothicBold.eot?#iefix) format('embedded-opentype'),
       url(NanumBarunGothicBold.woff) format('woff'),
       url(NanumBarunGothicBold.ttf) format('truetype');
}


@font-face {
 font-family: 'nbg';
 src: url(NanumBarunGothic.eot);
 src: url(NanumBarunGothic.eot?#iefix) format('embedded-opentype'),
      url(NanumBarunGothic.woff) format('woff'),
      url(NanumBarunGothic.ttf) format('truetype');
}
@font-face {
 font-family: 'nbgb';
 src: url(NanumBarunGothicBold.eot);
 src: url(NanumBarunGothicBold.eot?#iefix) format('embedded-opentype'),
      url(NanumBarunGothicBold.woff) format('woff'),
      url(NanumBarunGothicBold.ttf) format('truetype');
}



